@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input{
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label{
  color: #ffffff!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

input.yellow-input:focus + label{
  color: #ffeb3b!important;
}

span.fat{
  color: #000000!important;
  font-size: 5vh!important;
  font-weight: 500!important;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff !important;
}

.card-image img{
  width: 100%!important;
  max-height: 300px;
}

.card-content p{
  font-size: 18px !important;
}


.comment-form textarea{
  resize: none;
  background: white;
  height: 10vh; 
  width: 100%
}

.comment-form button{
  float: right;
  margin-right: 0%;
}

.notification{
  margin-top: 10px;
}

li.comment{
  margin: 10px 0px 10px 0px;
  padding: 2px;
  background-color: rgb(146, 145, 145);
}

.comment p{
  color: white!important;
  font-size: 20px;
  margin: 0;
  display: inline;
  padding-left: 5px;
}

.comment span{
  font-size: 13px;
  padding-left: 10px;
}

.card-action{
  padding: 0px 24px 16px 24px !important;
}

.notificationIcon{
  cursor: pointer;
}

.notificationIcon img{
  max-width: 60px;
}

.notification-content{
  position: absolute;
  width: 250px;
  z-index: 10;
  background-color: #baf8fa;
}

.notification-content p{
  padding-left: 10px;
}

.notification-content button{
  width: 100%;
}

.search{
  margin-top: 10px;
}

.user-link{
  border: 2px solid  rgb(193, 193, 223);
  margin: 4px;
  padding-left: 10px;
  border-radius: 25px;
  background-color: rgb(241, 241, 241);
}

.user-link h5{
  display: inline-block;
  color: #000000;
  margin-top: 0.656rem;
}

.right-unique{
  float: right;
  margin-right: 10px;
}

p{
  white-space: pre-line;
}

.brand-logo{
  padding-left: 15px!important;
}

.create-case{
  padding-top: 30px!important;
}

.create-case button{
  float: right; 
  height: 70px; 
  width: 100px;
}

.download{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #494040;
}
.download:hover{
  color: black;
}
.download:active{
  background: none
}
